span {
  cursor: context-menu;
}

.header-wrapper {
  width: 100%;
  height: 4rem;
  min-width: 46rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: absolute;
  box-shadow: 0 0.3rem 0.8rem 0 rgba(184, 184, 184, 0.3);
  z-index: 1;
}

#recContainer {
  width: 100%;
  height: 0.5vh;
  /* min-width: 46rem; */
  position: absolute;
  top: 0;
  z-index: 2;
}

#leftRec {
  width: 33%;
  height: 100%;
  background-color: #227e2d;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

#midRec {
  position: absolute;
  top: 0;
  left: 33%;
  width: 34%;
  height: 100%;
  background-color: #afc514;
  display: inline-block;
}

#rightRec {
  position: absolute;
  top: 0;
  left: 67%;
  width: 33%;
  height: 100%;
  background-color: #2d9889;
  display: inline-block;
}

#one-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
  margin-left: 3rem;
}

#tommy-logo {
  width: 11rem;
  height: 3.5rem;
  cursor: pointer;
  margin-right: 5rem;
  margin-left: 1rem;
}

@font-face {
  font-family: Rubik;
  src: url(/../../assets/Rubik-Medium.ttf);
}

#username {
  font-family: rubik;
  font-size: 1rem;
  width: 12rem;
  text-align: center;
}

#sap-logo {
  height: 2.5rem;
  margin-right: 1rem;
}

#yeso-logo {
  height: 2.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

#info-logo {
  height: 2rem;
  cursor: pointer;
}

.flex-row-container {
  display: flex;
  direction: rtl;
  justify-content: center;
  align-items: center;
}
